/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

body {
  background: #eeffee;
  /* font-family: 'Roboto', sans-serif; */
}

.main-nav-menu {
  height: 70px;
}

.main-content {
  margin-top: 70px;
}

.rounded-corner{
  border-radius: 10px;
}

.round-button{
  border-radius: 25px;
}